@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 
BLUE (lightest to darkest)
#008DF2
#0075C9
#225173 
*/

/*
MONOCHROME (lightest to darkest)
#F7F7F7
#587784
#000000
*/

* {
  margin: 0;
  padding: 0
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
  /* background-image: url('./gym3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: #0075C9;
}

nav a:hover {
  color: #008DF2;
  transition: .3s;
}

#logo-img {
  width: 7rem;
  margin-bottom: 7px;
  margin-right: -10px;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none
}

/* #user-img:hover {
  filter: invert(34%) sepia(97%) saturate(3815%) hue-rotate(195deg);
} */

.logo-txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none;
  color: #0075C9;
}

.logo-txt a:nth-child(2) {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  font-weight: 800;
  margin-left: -32px;
}

.logo-txt a:nth-child(2):hover {
  color: #0075C9;
}

#start-action-call {
  background-color: #0075C9;
  padding: 5px;
  color: #F7F7F7;
}

#start-action-call:hover {
  background-color: #008DF2;
  transition: .3s;
}

#workout-gif {
  border-radius: 100px;
  margin: 20px;
  border: 5px solid #0075c9;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.image-grid .exercises-flex {
  flex-basis: calc(33.333% - 1rem);
  margin-bottom: 1rem;
}

.all-workouts {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
}

#music-player {
  border: 1px solid red;
}

.dlt-btn {
  background-color: red;
  color: white;
}
